.experience-section {
  display: flex;
  padding: 100px 80px;
  flex-direction: column;
  gap: 80px;
 
}

.experience-section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  color: #ffffff; 
}

.learn-more-btn {
  color: #f2b705;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  background: none;       
  border: none;           
  cursor: pointer;       
  padding: 0;             
}

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.experience-content {
  flex: 1;
  color: #fff;
}

.company-name {
  font-size: 34px;
  letter-spacing: 3px;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #fff;
}

.experience-role {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: #ececec;
}

.experience-duration {
  font-style: italic;
  color: #dadada;
  margin-bottom: 1rem;
}

.experience-description  {
  font-size: 16px;
  color: #dedede;
  line-height: 1.7;
  margin-bottom: 30px;
  max-width: 400px;
}

.arrow-circle {
  background-color: #e0e0e0;
  padding: 0.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
.experience-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: floatImage 6s ease-in-out infinite;
}

.experience-image-card img {
  width: 220px;
  height: auto;
  border-radius: 40px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}


@media (max-width: 768px) {
   .experience-section {
    padding: 60px 20px;
    gap: 50px;
  }

  .experience-section-title {
    font-size: 2rem;
  }

  .experience-item {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .experience-content {
    max-width: 100%;
  }

  .company-name {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .arrow-circle {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .experience-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experience-image-card {
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
  }

  .experience-image-card img {
    width: 160px;
    height: auto;
    display: block;
  }
   .experience-role {
    font-size: 1.1rem;
  }

  .experience-duration {
    font-size: 0.95rem;
  }

  .experience-description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .learn-more-btn {
    font-size: 14px;
  }
}

